*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman';
  }

  header{  
    background-image: url(../My-html-repo/image/nature-319.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center ;
  }
  ul{
      float: right;
      list-style-type: none;
      margin-top: 25px;
  }
  ul li{
      display: inline-block;
  }
  ul li a{
      text-decoration: none;
      color: #fff;
      padding: 5px 20px;
      border: 1px solid transparent;
      transition: 0.6s ease;
  }
  ul li a:hover{
      background-color: #fff;
      color: #000;
    }
    .logo img{
        float: left;
        width: 150px;
        height: auto;
    }
    .main{
        max-width: 1200px;
        margin: auto;
    }
    .title h1{
        color: pink;
        font-size: 70;
    }
    body{
      background-color: yellowgreen;
      color: wheat;
      font-size: 21px; 
    }

  h1{
      font-size: 50;
      color: red;
      text-align: center;
    }
    p{
        color: whitesmoke;
    }
   


  .box{
      background-image: url(../My-html-repo/image/images.jpeg);
      padding: 200px 100px;
      margin: 100px;
      background-repeat: repeat-x;
  }

    
